@mixin flex(){
  display: flex;
}

.main-chat{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color:#ffffff;
  &__header{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    @include flex();
    justify-content: space-between;
    &--group_member_list p{
      font-size: 20px;
      color: #333333;
      padding: 35px 0 15px;
      margin-left: 40px;
    }
    &--group_member_list ul{
      @include flex();
      .list-title{
        margin-left: 40px;
      }
      li{
        font-size: 12px;
        color: #999999;
      }
    }
    &--btn{    
      height: 40px;
      width: 72px;
      padding: 0 20px;
      margin:28px 40px 0 0; 
      border: 1px solid #38aef0;
      .btn{
        color: #38aef0;
        line-height: 40px;
        text-decoration: none;
      }
    }
  }
  &__contents{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    &--info{
      padding: 35px 0 12px;
      @include flex();
      .name{
        font-size: 16px;
        color: #333333;
        padding-right: 7px;
      }
      .date{
        color:#999999;
        font-size: 12px;
      }
    }
    &--message{
      font-size: 14px;
      color: #434a54;
    }
  }
  &__footer{
    height: 90px;
    background-color: #d2d2d2;
    padding:20px 40px;
    @include flex();
    justify-content: space-between;
    &--input_box{
      width: 100%;
      @include flex();
      position: relative;
      .input{
        width: 100%;
        .input{
          height: 50px;
          width: 100%;
          padding-left: 10px;
        }
      }
      .footer_logo{
        position: relative;
        right: 27px;
        line-height: 50px;
        .input-box__image{
          color: black;
          .display_none{
            display: none;
          }
        }
      }
    }
    &--btn{
      margin:0 15px 40px;
      .footer_btn{
        width: 80px;
        height: 50px;
        background-color: rgb(62, 169, 240);
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        display: block;
      }
    }
  }
}